<!DOCTYPE html>
<html dir="rtl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <!--        <meta http-equiv="refresh" content="0;url=Splash.html" /> -->
        <meta http-equiv="Content-Security-Policy" content="default-src *; style-src &apos;self&apos; &apos;unsafe-inline&apos;; script-src &apos;self&apos; &apos;unsafe-inline&apos; &apos;unsafe-eval&apos;">
        <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
        <link href="Design/MyCss.css" rel="stylesheet">
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controller.js"></script>
        <script src="js/services.js"></script>
        <script src="js/ng-cordova.min.js"></script>
        <script src="cordova.js"></script>
        <link href="Design/FontAr/Font.css" rel="stylesheet">
        <link href="Design/Taps/MyCss2.css" rel="stylesheet">
        <link href="Design/Taps.css" rel="stylesheet" />
        <link href="Design/Css3.css" rel="stylesheet" />
    </head>
    <body ng-app="app">
    <ion-pane ng-controller="MyController">
        <ion-side-menus>
            <ion-side-menu-content>
                <ion-header-bar class="topContainer" id="TopBar">
                    <ul class="Top-Header-List">
                        <li><a href="Search.html"><img src="Design/Images/Icon/Search.png"></a></li>
                        <li><a><img src="Design/Images/Icon/logo.png"></a></li>
                        <li>
                            <button class="MenuButton" ng-click="toggleLeft()"><i class="icon ion-android-menu"></i></button>
                        </li>
                        <li></li>
                    </ul>
                    <div class="Clear"></div>
                </ion-header-bar>
                <ion-content style="overflow: hidden">
                    <!--<div style="height: 6.3em"></div>-->
                    <div class="Clear"></div>
                    <div class="tabs">
                        <input type="radio" name="tabs" id="tab1" >
                        <label for="tab1">
                            <span>عاجل</span>
                        </label>
                        <input type="radio" name="tabs" id="tab2" checked>
                        <label for="tab2">
                            <span>الرئيسية</span>
                        </label>
                        <input type="radio" name="tabs" id="tab3">
                        <label for="tab3">
                            <span>أكثر القراءات</span>
                        </label>
                        <input type="radio" name="tabs" id="tab4">
                        <label for="tab4">
                            <span>الفيديو</span>
                        </label>
                        <div id="tab-content1" class="tab-content" ng-controller="recentPageController">
                            <ion-view view-title="Main">
                                <ion-content class="padding">
                                    <ion-list>
                                        <a ng-click="goToCategory('Recent')">
                                            <h1 class="item bg-Varitiess">
                                                &#x639;&#x627;&#x62C;&#x644;
                                                <span class="ArrowMore Left"></span>
                                            </h1>
                                        </a>
                                        <ion-item ng-repeat="article in model.RecentArticles" class="No-Item" ng-click="sendData({{article.ArticleId}})">
                                            <div class="MainNewsImgWrapper">
                                                <img src="{{article.BigImageUrl}}" class="img_small" > 
                                                <div class="TitleWrapper">
                                                    <div class="TitleWrapper-Title">
                                                        {{ article.Title}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>{{article.Excerpt}}</i>
                                            </div>
                                            <!--<div class="item item-text-wrap No-Item txt-Description">
                                                {{ article.Title}}
                                            </div>-->
                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{ article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                            </div>
                                            <div class="Block-Margin-Bottom1 Clear"></div>
                                        </ion-item>

                                    </ion-list>

<!--                                    <ion-infinite-scroll
                                        on-infinite="load.loadMore()"
                                        distance="1%">
                                    </ion-infinite-scroll>-->


                                </ion-content>
                            </ion-view>

                        </div> <!-- #tab-content1 -->

                        <div id="tab-content2" class="tab-content" ng-controller="homePageController">

                            <ion-view view-title="Main">
                                <ion-content class="padding">
                                    <ion-list>
                                        <a ng-click="goToCategory('Arabic')">
                                            <h1 class="item bg-Arabic">
                                                &#x639;&#x631;&#x628;&#x64A;
                                                <span class="ArrowMore Left"></span>
                                            </h1>
                                        </a>

                                        <ion-item ng-repeat="article in model.ArabicMain" class="No-Item" ng-click="sendData({{article.ArticleId}})">

                                            <div class="MainNewsImgWrapper">
                                                <img src="{{article.BigImageUrl}}" class="img_small">
                                                <div class="TitleWrapper">
                                                    <div class="TitleWrapper-Title">
                                                        {{ article.Title}}
                                                    </div>

                                                </div>

                                            </div>
                                            <!--<div class="item item-text-wrap No-Item txt-Description">
                                                {{ article.Title}}
                                            </div>-->

                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{ article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                            </div>
                                        </ion-item>


                                        <div class="Block-Margin-Bottom1 Clear"></div>


                                        <ion-item ng-repeat="article in model.ArabicArticles" class="No-Item" ng-click="sendData(article.ArticleId)">

                                            <div class="row">

                                                <div class="col">
                                                    <div class="item item-divider No-Item">
                                                        <img src="{{article.ImageUrl}}" class="img_small">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="item item-divider No-Item Title-Three">
                                                        {{ article.Title}}
                                                    </div>
                                                    <div class="item item-text-wrap txt-Description No-Item">
                                                        {{ article.Title}}
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                            </div>

                                            <div class="Block-Margin-Bottom1 Clear"></div>

                                        </ion-item>
                                    </ion-list>


                                    <ion-list>
                                        <a ng-click="goToCategory('International')">
                                            <h1 class="item bg-International">
                                                &#x62F;&#x648;&#x644;&#x64A;<span class="ArrowMore Left"></span>
                                            </h1>
                                        </a>
                                        <ion-item ng-repeat="article in model.InternationalMain" class="No-Item" ng-click="sendData({{article.ArticleId}})">
                                            <div class="MainNewsImgWrapper">
                                                <img src="{{article.BigImageUrl}}" class="img_small">
                                                <div class="TitleWrapper">
                                                    <div class="TitleWrapper-Title">
                                                        {{ article.Title}}
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{ article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                            </div>
                                        </ion-item>

                                        <div class="Block-Margin-Bottom1 Clear"></div>


                                        <ion-item ng-repeat="article in model.InternationalArticles" class="No-Item" ng-click="sendData({{article.ArticleId}})">

                                            <div class="row">

                                                <div class="col">
                                                    <div class="item item-divider No-Item">
                                                        <img src="{{article.ImageUrl}}" class="img_small">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="item item-divider No-Item Title-Three">
                                                        {{ article.Title}}
                                                    </div>
                                                    <div class="item item-text-wrap txt-Description No-Item">
                                                        {{ article.Title}}
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                            </div>

                                            <div class="Block-Margin-Bottom1 Clear"></div>

                                        </ion-item>

                                    </ion-list>

                                    <ion-list>

                                        <a ng-click="goToCategory('UAE')">
                                            <h1 class="item bg-UAE">
                                                &#x627;&#x644;&#x625;&#x645;&#x627;&#x631;&#x627;&#x62A;<span class="ArrowMore Left"></span>
                                            </h1>
                                        </a>
                                        <ion-item ng-repeat="article in model.UAEArticles" class="No-Item" ng-click="sendData({{article.ArticleId}})">

                                            <div class="row">

                                                <div class="col">
                                                    <div class="item item-divider No-Item">
                                                        <img src="{{article.ImageUrl}}" class="img_small">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="item item-divider No-Item Title-Three">
                                                        {{ article.Title}}
                                                    </div>
                                                    <div class="item item-text-wrap txt-Description No-Item">
                                                        {{ article.Title}}
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                            </div>

                                            <div class="Block-Margin-Bottom1 Clear"></div>

                                        </ion-item>



                                        <a ng-click="goToCategory('Directions')">
                                            <h1 class="item bg-Article">
                                                &#x625;&#x62A;&#x62C;&#x627;&#x647;&#x627;&#x62A;<span class="ArrowMore Left"></span>
                                            </h1>
                                        </a>
                                        <ion-list>
                                            <ion-item ng-repeat="article in model.DirectionsMain" class="No-Item" ng-click="sendData({{article.ArticleId}})">
                                                <div class="MainNewsImgWrapper">
                                                    <img src="{{article.BigImageUrl}}" class="img_small">
                                                    <div class="TitleWrapper">
                                                        <div class="TitleWrapper-Title">
                                                            {{ article.Title}}
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="item item-divider item item-text-wrap txt-Source">
                                                    <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{ article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                                </div>
                                            </ion-item>

                                            <div class="Block-Margin-Bottom1 Clear"></div>


                                            <ion-item ng-repeat="article in model.DirectionsArticles" class="No-Item" ng-click="sendData({{article.ArticleId}})">

                                                <div class="row">

                                                    <div class="col">
                                                        <div class="item item-divider No-Item">
                                                            <img src="{{article.ImageUrl}}" class="img_small">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="item item-divider No-Item Title-Three">
                                                            {{ article.Title}}
                                                        </div>
                                                        <div class="item item-text-wrap txt-Description No-Item">
                                                            {{ article.Title}}
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="item item-divider item item-text-wrap txt-Source">
                                                    <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                                </div>

                                                <div class="Block-Margin-Bottom1 Clear"></div>

                                            </ion-item>

                                        </ion-list>


                                        <a ng-click="goToCategory('Technology')">
                                            <h1 class="item bg-Technology">
                                                &#x62A;&#x643;&#x646;&#x648;&#x644;&#x648;&#x62C;&#x64A;&#x627;<span class="ArrowMore Left"></span>
                                            </h1>
                                        </a>
                                        <ion-list>
                                            <ion-item ng-repeat="article in model.TechnologyMain" class="No-Item" ng-click="sendData({{article.ArticleId}})">
                                                <div class="MainNewsImgWrapper">
                                                    <img src="{{article.BigImageUrl}}" class="img_small">
                                                    <div class="TitleWrapper">
                                                        <div class="TitleWrapper-Title">
                                                            {{ article.Title}}
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="item item-divider item item-text-wrap txt-Source">
                                                    <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{ article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                                </div>
                                            </ion-item>

                                            <div class="Block-Margin-Bottom1 Clear"></div>

                                            <ion-item ng-repeat="article in model.TechnologyArticles" class="No-Item" ng-click="sendData({{article.ArticleId}})">

                                                <div class="row">

                                                    <div class="col">
                                                        <div class="item item-divider No-Item">
                                                            <img src="{{article.ImageUrl}}" class="img_small">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="item item-divider No-Item Title-Three">
                                                            {{ article.Title}}
                                                        </div>
                                                        <div class="item item-text-wrap txt-Description No-Item">
                                                            {{ article.Title}}
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="item item-divider item item-text-wrap txt-Source">
                                                    <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                                </div>

                                                <div class="Block-Margin-Bottom1 Clear"></div>

                                            </ion-item>

                                        </ion-list>

                                        <a ng-click="goToCategory('Health')">
                                            <h1 class="item bg-Health">
                                                &#x635;&#x62D;&#x629;<span class="ArrowMore Left"></span>
                                            </h1>
                                        </a>
                                        <ion-list>
                                            <ion-item ng-repeat="article in model.HealthMain" class="No-Item" ng-click="sendData({{article.ArticleId}})">
                                                <div class="MainNewsImgWrapper">
                                                    <img src="{{article.BigImageUrl}}" class="img_small">
                                                    <div class="TitleWrapper">
                                                        <div class="TitleWrapper-Title">
                                                            {{ article.Title}}
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="item item-divider item item-text-wrap txt-Source">
                                                    <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{ article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                                </div>
                                            </ion-item>

                                            <div class="Block-Margin-Bottom1 Clear"></div>

                                            <ion-item ng-repeat="article in model.HealthArticles" class="No-Item" ng-click="sendData({{article.ArticleId}})">

                                                <div class="row">

                                                    <div class="col">
                                                        <div class="item item-divider No-Item">
                                                            <img src="{{article.ImageUrl}}" class="img_small">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="item item-divider No-Item Title-Three">
                                                            {{ article.Title}}
                                                        </div>
                                                        <div class="item item-text-wrap txt-Description No-Item">
                                                            {{ article.Title}}
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="item item-divider item item-text-wrap txt-Source">
                                                    <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                                </div>

                                                <div class="Block-Margin-Bottom1 Clear"></div>

                                            </ion-item>

                                        </ion-list>



                                        <a ng-click="goToCategory('Sport')">
                                            <h1 class="item bg-Sport">
                                                &#x645;&#x644;&#x627;&#x639;&#x628;<span class="ArrowMore Left"></span>
                                            </h1>
                                        </a>
                                        <ion-item ng-repeat="article in model.SportArticles" class="No-Item" ng-click="sendData({{article.ArticleId}})">

                                            <div class="row">

                                                <div class="col">
                                                    <div class="item item-divider No-Item">
                                                        <img src="{{article.ImageUrl}}" class="img_small">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="item item-divider No-Item Title-Three">
                                                        {{ article.Title}}
                                                    </div>
                                                    <div class="item item-text-wrap txt-Description No-Item">
                                                        {{ article.Title}}
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                            </div>

                                            <div class="Block-Margin-Bottom1 Clear"></div>

                                        </ion-item>


                                        <a ng-click="goToCategory('LifeStyle')">
                                            <h1 class="item bg-LifeStyle">
                                                &#x644;&#x627;&#x64A;&#x641; &#x633;&#x62A;&#x627;&#x64A;&#x644;
                                                <span class="ArrowMore Left"></span>
                                            </h1>
                                        </a>
                                        <ion-item ng-repeat="article in model.LifeStyleMain" class="No-Item" ng-click="sendData({{article.ArticleId}})">
                                            <div class="MainNewsImgWrapper">
                                                <img src="{{article.BigImageUrl}}" class="img_small">
                                                <div class="TitleWrapper">
                                                    <div class="TitleWrapper-Title">
                                                        {{ article.Title}}
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{ article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                            </div>
                                        </ion-item>

                                        <div class="Block-Margin-Bottom1 Clear"></div>


                                        <ion-item ng-repeat="article in model.LifeStyleArticles" class="No-Item" ng-click="sendData({{article.ArticleId}})">

                                            <div class="row">

                                                <div class="col">
                                                    <div class="item item-divider No-Item">
                                                        <img src="{{article.ImageUrl}}" class="img_small">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="item item-divider No-Item Title-Three">
                                                        {{ article.Title}}
                                                    </div>
                                                    <div class="item item-text-wrap txt-Description No-Item">
                                                        {{ article.Title}}
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                            </div>

                                            <div class="Block-Margin-Bottom1 Clear"></div>

                                        </ion-item>

                                    </ion-list>


                                    <a ng-click="goToCategory('Varitiess')">
                                        <h1 class="item bg-Varitiess">
                                            &#x645;&#x646;&#x648;&#x639;&#x627;&#x62A;
                                            <span class="ArrowMore Left"></span>
                                        </h1>
                                    </a>
                                    <ion-list>
                                        <ion-item ng-repeat="article in model.VaritiessMain" class="No-Item" ng-click="sendData({{article.ArticleId}})">
                                            <div class="MainNewsImgWrapper">
                                                <img src="{{article.BigImageUrl}}" class="img_small">
                                                <div class="TitleWrapper">
                                                    <div class="TitleWrapper-Title">
                                                        {{ article.Title}}
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{ article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                            </div>
                                        </ion-item>

                                        <div class="Block-Margin-Bottom1 Clear"></div>

                                        <ion-item ng-repeat="article in model.VaritiesArticles" class="No-Item" ng-click="sendData({{article.ArticleId}})">

                                            <div class="row">

                                                <div class="col">
                                                    <div class="item item-divider No-Item">
                                                        <img src="{{article.ImageUrl}}" class="img_small">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="item item-divider No-Item Title-Three">
                                                        {{ article.Title}}
                                                    </div>
                                                    <div class="item item-text-wrap txt-Description No-Item">
                                                        {{ article.Title}}
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                            </div>

                                            <div class="Block-Margin-Bottom1 Clear"></div>

                                        </ion-item>

                                    </ion-list>

                                    <a ng-click="goToCategory('Business')">
                                        <h1 class="item bg-Bsiness">
                                            &#x645;&#x627;&#x644; &#x648;&#x623;&#x639;&#x645;&#x627;&#x644;<span class="ArrowMore Left"></span>
                                        </h1>
                                    </a>
                                    <ion-list>
                                        <ion-item ng-repeat="article in model.BusinessMain" class="No-Item" ng-click="sendData({{article.ArticleId}})">
                                            <div class="MainNewsImgWrapper">
                                                <img src="{{article.BigImageUrl}}" class="img_small">
                                                <div class="TitleWrapper">
                                                    <div class="TitleWrapper-Title">
                                                        {{ article.Title}}
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{ article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                            </div>
                                        </ion-item>

                                        <div class="Block-Margin-Bottom1 Clear"></div>

                                        <ion-item ng-repeat="article in model.BusinessArticles" class="No-Item" ng-click="sendData({{article.ArticleId}})">

                                            <div class="row">

                                                <div class="col">
                                                    <div class="item item-divider No-Item">
                                                        <img src="{{article.ImageUrl}}" class="img_small">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="item item-divider No-Item Title-Three">
                                                        {{ article.Title}}
                                                    </div>
                                                    <div class="item item-text-wrap txt-Description No-Item">
                                                        {{ article.Title}}
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                            </div>

                                            <div class="Block-Margin-Bottom1 Clear"></div>

                                        </ion-item>

                                    </ion-list>


                                    <ion-list>
                                        <a ng-click="goToCategory('Culture')">
                                            <h1 class="item bg-Culture">
                                                &#x62B;&#x642;&#x627;&#x641;&#x629;<span class="ArrowMore Left"></span>
                                            </h1>
                                        </a>
                                        <ion-item ng-repeat="article in model.CultureMain" class="No-Item" ng-click="sendData({{article.ArticleId}})">
                                            <div class="MainNewsImgWrapper">
                                                <img src="{{article.BigImageUrl}}" class="img_small">
                                                <div class="TitleWrapper">
                                                    <div class="TitleWrapper-Title">
                                                        {{ article.Title}}
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{ article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                            </div>
                                        </ion-item>

                                        <div class="Block-Margin-Bottom1 Clear"></div>

                                        <ion-item ng-repeat="article in model.CultureArticles" class="No-Item" ng-click="sendData({{article.ArticleId}})">

                                            <div class="row">

                                                <div class="col">
                                                    <div class="item item-divider No-Item">
                                                        <img src="{{article.ImageUrl}}" class="img_small">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="item item-divider No-Item Title-Three">
                                                        {{ article.Title}}
                                                    </div>
                                                    <div class="item item-text-wrap txt-Description No-Item">
                                                        {{ article.Title}}
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                            </div>

                                            <div class="Block-Margin-Bottom1 Clear"></div>

                                        </ion-item>

                                    </ion-list>

                                    <a ng-click="goToCategory('Youth')">
                                        <h1 class="item bg-Youth">
                                            &#x634;&#x628;&#x627;&#x628;<span class="ArrowMore Left"></span>
                                        </h1>
                                    </a>
                                    <ion-list>
                                        <ion-item ng-repeat="article in model.YouthMain" class="No-Item" ng-click="sendData({{article.ArticleId}})">
                                            <div class="MainNewsImgWrapper">
                                                <img src="{{article.BigImageUrl}}" class="img_small">
                                                <div class="TitleWrapper">
                                                    <div class="TitleWrapper-Title">
                                                        {{ article.Title}}
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{ article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                            </div>
                                        </ion-item>

                                        <div class="Block-Margin-Bottom1 Clear"></div>

                                        <ion-item ng-repeat="article in model.YouthArticles" class="No-Item" ng-click="sendData({{article.ArticleId}})">

                                            <div class="row">

                                                <div class="col">
                                                    <div class="item item-divider No-Item">
                                                        <img src="{{article.ImageUrl}}" class="img_small">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="item item-divider No-Item Title-Three">
                                                        {{ article.Title}}
                                                    </div>
                                                    <div class="item item-text-wrap txt-Description No-Item">
                                                        {{ article.Title}}
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{article.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                            </div>

                                            <div class="Block-Margin-Bottom1 Clear"></div>

                                        </ion-item>

                                    </ion-list>



                                    <a ng-click="goToCategory('Pictures')">
                                        <h1 class="item bg-Pictures">
                                            &#x627;&#x644;&#x635;&#x648;&#x631;
                                            <span class="ArrowMore Left"></span>
                                        </h1>
                                    </a>


                                    <ion-item ng-repeat="article in model.Pictures" class="No-Item" ng-click="sendData({{article.ArticleId}})">

                                        <div class="row">

                                            <div class="col">
                                                <div class="item item-divider No-Item">
                                                    <img src="{{article.ImageUrl}}" class="img_small">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="item item-divider No-Item Title-Three">
                                                    {{ article.Title}}
                                                </div>
                                                <div class="item item-text-wrap txt-Description No-Item">
                                                    {{ article.Title}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item item-divider item item-text-wrap txt-Source">
                                            <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{contact.TheSource}}</i> <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                        </div>
                                    </ion-item>

                                    <div class="Block-Margin-Bottom1 Clear"></div>
                                </ion-content>
                            </ion-view>

                        </div> <!-- #tab-content2 -->

                        <div id="tab-content3" class="tab-content" ng-controller="frequentPageController">

                            <ion-view view-title="Main">
                                <ion-content class="padding">


                                    <ion-list>
                                        <a ng-click="goToCategory('Frequent')">
                                            <h1 class="item bg-Varitiess">
                                                &#x639;&#x627;&#x62C;&#x644;
                                                <span class="ArrowMore Left"></span>
                                            </h1>
                                        </a>

                                        <ion-item ng-repeat="Frequent in model.FrequentArticles" class="No-Item" ng-click="sendData({{Frequent.ArticleId}})">

                                            <div class="MainNewsImgWrapper">
                                                <img src="{{Frequent.ImageUrl}}" class="img_small">
                                                <div class="TitleWrapper">
                                                    <div class="TitleWrapper-Title">
                                                        {{ Frequent.Title}}
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>{{Frequent.Excerpt}}</i>
                                            </div>
                                            <!--<div class="item item-text-wrap No-Item txt-Description">
                                                {{ article.Title}}
                                            </div>-->
                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{ Frequent.TheSource}}</i>
                                                <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                            </div>
                                            <div class="Block-Margin-Bottom1 Clear"></div>
                                        </ion-item>
                                    </ion-list>
                                </ion-content>
                            </ion-view>
                        </div> <!-- #tab-content3 -->
                        <div id="tab-content4" class="tab-content" ng-controller="videoPageController">
                            <ion-view view-title="Main">
                                <ion-content class="padding">
                                    <ion-list>
                                        <a>
                                            <h1 class="item bg-Varitiess">
                                                &#x641;&#x64A;&#x62F;&#x64A;&#x648;
                                                <span class="ArrowMore Left"></span>
                                            </h1>
                                        </a>
                                        <ion-item ng-repeat="video in model.Videos" class="No-Item" ng-click="sendData({{video.Id}})">
                                            <div class="MainNewsImgWrapper">
                                                <img src="{{video.Email}}" class="img_small">
                                                <!--  <iframe width="100%" height="325" src="{{trustSrc(video.Country)}}" frameborder="0" allowfullscreen></iframe>-->
                                                <div class="TitleWrapper">
                                                    <div class="TitleWrapper-Title">
                                                        {{ video.Adds}}
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<div class="item item-text-wrap No-Item txt-Description">
                                                {{ article.Title}}
                                            </div>-->
                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{ article.TheSource}}</i>
                                                <!-- <a href="#"><span class="Shre-Icon Left"></span></a>-->
                                            </div>
                                            <div class="Block-Margin-Bottom1 Clear"></div>
                                        </ion-item>
                                    </ion-list>
                                </ion-content>
                            </ion-view>
                        </div> <!-- #tab-content3 -->
                    </div>
                </ion-content>
            </ion-side-menu-content>
            <ion-side-menu side="right">
                <div ng-include="'Menu.html'"></div>
            </ion-side-menu>
        </ion-side-menus>
    </ion-pane>
</body>
</html>
