<!DOCTYPE html>
<html dir="rtl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
        <link href="Design/MyCss.css" rel="stylesheet">
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="js/app.js"></script>
        <link href="Design/FontAr/Font.css" rel="stylesheet" />
        <link href="Design/Taps/MyCss2.css" rel="stylesheet" />
    </head>
    <body ng-app="app">
    <ion-pane ng-controller="MyController">

        <ion-side-menus>
            <ion-side-menu-content>
                
                
                <ion-header-bar class="topContainer" id="TopBar">
                  <ul class="Top-Header-List">
                        <li><a href="index2.html"> <span class="Home-Icon"><i class="icon ion-android-arrow-back"></i></span></a></li>
                        <li><a href="index2.html"><img src="Design/Images/Icon/logo.png"></a></li>
                        <li>
                            <button class="MenuButton" ng-click="toggleLeft()"><i class="icon ion-android-menu"></i></button>
                            <a href="index2.html"> <span class="Home-Icon"><i class="icon ion-android-home"></i></span></a>
                        </li>
                    </ul>
                    <div class="Clear"></div>
                </ion-header-bar>
                
     



<ion-content style="overflow: hidden">
    
        <!--<div style="height: 6.3em"></div>-->
    

    <div class="Clear"></div>
    
    <ion-view view-title="Main">
        <ion-content class="padding">
           <ion-list>
                                        <a href="#">
                                            <h1 class="item bg-Arabic">
                                               الأمارات
                                                <span class="ArrowMore Left"></span>
                                            </h1>
                                        </a>
<!--
                                        <ion-item ng-repeat="article in model.InternationalMain" class="No-Item" ng-click="sendData({{article.ArticleId}})">

                                            <div class="MainNewsImgWrapper">
                                                <img src="{{article.BigImageUrl}}" class="img_small">
                                                <div class="TitleWrapper">
                                                    <div class="TitleWrapper-Title">
                                                        {{ article.Title}}
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="item item-text-wrap No-Item txt-Description">
                                                {{ article.Title}}
                                            </div>

                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{ article.TheSource}}</i>
                                                <!-- <a href="#"><span class="Shre-Icon Left"></span></a> -->
                                            </div>
                                        </ion-item>

                                        <div class="Block-Margin-Bottom1 Clear"></div>


                                        <ion-item ng-repeat="article in model.UAEArticlesAll" class="No-Item" ng-click="sendData(article.ArticleId)">

                                            <div class="row">

                                                <div class="col">
                                                    <div class="item item-divider No-Item">
                                                        <img src="{{article.ImageUrl}}" class="img_small">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="item item-divider No-Item Title-Three">
                                                        {{ article.Title}}
                                                    </div>
                                                    <div class="item item-text-wrap txt-Description No-Item">
                                                        {{ article.Title}}
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="item item-divider item item-text-wrap txt-Source">
                                                <i>&#x627;&#x644;&#x645;&#x635;&#x62F;&#x631;:{{article.TheSource}}</i>
                                                <!-- <a href="#"><span class="Shre-Icon Left"></span></a> -->
                                            </div>

                                            <div class="Block-Margin-Bottom1 Clear"></div>

                                        </ion-item>
                                    </ion-list>

            <div class="Block-Margin-Bottom1 Clear"></div>

            

            <div class="Block-Margin-Bottom1 Clear"></div>

        </ion-content>
    </ion-view>
    
    

    
    


    

      </ion-content>


       </ion-side-menu-content>


            <ion-side-menu side="right">
        <div class="RightMenuTaps">


                    <input type="radio" name="tabs2" id="RightMenuTaps-tab1">
                    <label for="RightMenuTaps-tab1">
                        <span class="NewsLink"></span>
                    </label>

                    <input type="radio" name="tabs2" id="RightMenuTaps-tab2">
                    <label for="RightMenuTaps-tab2">
                        <span class="VideoLink"></span>
                    </label>

                    <input type="radio" name="tabs2" id="RightMenuTaps-tab3" checked>
                    <label for="RightMenuTaps-tab3">
                        <span class="AboutLink"></span>
                    </label>

                    <div id="RightMenuTaps-content1" class="RightMenuTaps-content">
                        <div class="MainMenu">  <ul>
                                <li><a href="Arabic.html" class="Arabic">عربي</a></li>
                                <li><a href="International.html" class="International">دولي</a></li>
                                <li><a href="UAE.html" class="UAE">الإمارات</a></li>
                                <li><a href="Directions.html" class="Directions">إتجاهات</a></li>
                                <li><a href="Technology.html" class="Technology">تكنولوجيا</a></li>
                                <li><a href="Health.html" class="Health">صحة</a></li>
                                <li><a href="Sports.html" class="Sport">ملاعب</a></li>
                                <li><a href="LifeStyle.html" class="LifeStyle">لايف ستايل</a></li>
                                <li><a href="Varities.html" class="Varitiess">منوعات</a></li>
                                <li><a href="Business.html" class="Bsiness">مال وأعمال</a></li>
                                <li><a href="Youth.html" class="Youth">شباب</a></li>
                                <li><a href="Pictures.html" class="Pictures">الصور</a></li>
                            </ul>

                        </div>

                    </div> <!-- #tab-content1 -->

                    <div id="RightMenuTaps-content2" class="RightMenuTaps-content">

                        <div class="MainMenu">
                            <ul>
                                <li><h2 href="#">قنوات 24</h2></li>
                                <li><a href="#" class="News">الإخبارية</a></li>
                                <li><a href="#" class="UAE2">الإماراتية</a></li>
                                <li><a href="#" class="Documentary">الوثائقية</a></li>
                                <li><a href="#" class="Varitiess2">منوعات</a></li>
                                <li><a href="#" class="Sport2">ملاعب</a></li>
                                <li><h2 href="#">قوائم التشغيل</h2></li>
                                <li><h2 href="#">قنوات 24</h2></li>
                                <li><h2 href="#">أحدث الأفلام</h2></li>
                            </ul>

                        </div>

                    </div> <!-- #tab-content2 -->

                    <div id="RightMenuTaps-content3" class="RightMenuTaps-content">

                        <div class="MainMenu">
                        <ul>
                                <li><a href="About.html">من نحن</a></li>
                                <li><a href="our-team.html">فريق العمل</a></li>
                                <li><a href="privacy-policy.html">سياسة الخصوصية</a></li>
                                <li><a href="terms-and-conditions.html">الشروط والأحكام</a></li>
                                <li> <a>تواصل معنا علي</a></li>
                            </ul>
                            <ul class="Soical-Icons">
                                        <li><a href="#"><img src="Design/Images/Social/whatsapp.jpg" /></a></li>
                                        <li><a href="#"><img src="Design/Images/Social/instagram.jpg" /></a></li>
                                        <li><a href="#"><img src="Design/Images/Social/Twitter.jpg" /></a></li>
                                        <li><a href="#"><img src="Design/Images/Social/Facebook.jpg" /></a></li>
                                        <li><a href="#"><img src="Design/Images/Social/Telegram.jpg" /></a></li>
                                        <li><a href="#"><img src="Design/Images/Social/Google.jpg" /></a></li>
                                        <li><a href="https://www.youtube.com/user/20fourMedia" target="_blank"><img src="Design/Images/Social/youtube.jpg" /></a></li>
                                    </ul>
	

                        </div>

                    </div> <!-- #tab-content3 -->

                </div>
            </ion-side-menu>
          
        </ion-side-menus>  
        
        
         
        

    </ion-pane>
    
</body>
</html>
